<head>
    <meta  charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%- title %>|CSE 340 App</title>
   <meta name="author" content="Desire Vargas" />
   <link rel="icon" type="image/png" href="/public/images/site/icon.png" />

    <!-- Stylesheets -->

  <link rel="stylesheet" href="/public/css/inventory-styles.css" media="screen" />
  <link rel="stylesheet" href="/public/css/style.css" media="screen" />
</head>